.introduce {
  display: flex;
  margin-top: 50px;
}

.introduce img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid black;
}

.introduce pre {
  margin-left: 10px;
  font-size: 2em;
}