.banner {
  width: 100%;
  height: 180px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: wheat;
}

.banner h1 {
  font-size: 3rem;
}

.banner img {
  width: 150px;
  height: 180px;
}

.main {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.loginForm {
  flex: 1;
}

.loginForm div {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
  font-size: 1.5em;
}

.inForm {
  align-items: center;
}

.inForm img {
  width: 80%;
}

.content {
  width: 100%;
  flex: 5;
}